<div id="footer-wrapper" class="h3-ns w-100 flex items-center justify-center">
  <div id="footer" class="w-60-ns w-80-m pa3 flex flex-wrap items-center f6">
    
    <div class="w-third-ns tl w-100">
      <ul class="list pl0 ma0">
        <!-- <li><%= @config[:full_name] %></li> -->
        <!-- <li><%= @config[:affiliation] %></li> -->
      </ul>
    </div>
    
    <div class="w-two-thirds-ns tr w-100">
      <ul class="ma0-ns fr-ns list ph0 mt3">
        <li class="ph2 di"><a href="<%= @config[:base_url] %>/blog.xml">RSS</a></li>
        <li class="ph2 di"><a href="https://github.com/<%= @config[:github_username] %>">GitHub</a></li>
        <li class="ph2 di"><a href="https://mathstodon.xyz/@<%= @config[:mastodon_username] %>">Mastodon</a></li>
        <li class="ph2 di"><a href="https://matrix.to/#/@<%= @config[:matrix_username] %>">Element</a></li>
        <li class="pl2 di"><a href="https://arxiv.org/a/<%= @config[:arxiv_username] %>">arXiv</a></li>
      </ul>
    </div>

  </div>
</div>