<div class="calendar w-10 fl tc">
  <span class="f4 fw5"><%= get_pretty_day(post) %></span>
  <span class="f4 fw5 pt0"><%= get_month(post) %></span>
  </br><hr class="mv0">
  <span class="f5 db w-100 bg-black-10"><%= get_year(post) %></span>
</div>
<div class="w-80-ns center bl bb bw1 pl3 mb4">
  <h4 class="mv2"><%= link_to post[:title], post.path %></h4>
  <article class="tj-ns mb3">
    <%= get_post_before_fold(post) %>
  </article>
  <div class="tag-list pb3">
    <%= tags_for(post, base_url: '/blog/tags/', separator: ", ") %>
  </div>
</div>