<div class="w-80-ns center pb4">
  <div class="w-100 relative bb b--gray">
    <span class="w-80 dib">
      <h6 id="<%= generate_post_link_id(post) %>" class="mv0 fw5 f4">
        <% if post[:part] != nil %>
          <%= link_to "#{post[:title]} (#{post[:part]})", post.path, :class => "no-underline" %>
        <% else %>
          <%= link_to post[:title], post.path, :class => "no-underline" %>
        <% end %>
      </h6>
    </span>

    <span class="absolute right-0 bottom-0 gray courier f5">
      <%= get_short_date(post) %>
    </span>
  </div>

  <article class="tj-ns mb3">
    <%= get_post_before_fold(post) %>
  </article>

  <div class="tag-list mv2 dn">
    <%= tags_for(post, base_url: '/blog/tags/', separator: ", ") %>
  </div>
</div>
