<% render '/**/Default.*' do %>
  <div id="post-nav" class="w-100-ns w-100">
    <!-- Display settings -->
    <ul id="colour-select" class="fl">
      <li>
        <button type="button" onclick="lightStyle()">
          Light
        </button>
      </li>
      <li>
        <button type="button" onclick="darkStyle()">
          Dark
        </button>
      </li>
    </ul>
    <!-- Navigation -->
    <a href="/blog/#<%= generate_post_link_id(@item) %>" class="fr f5">&larr; Return to all posts</a>
  </div>
  <div id="post-content" class="w-100-ns ph3-ns w-100">
    <h1 id="post-title"><%= @item[:title] %></h1>
    <h2 id="post-part"><%= @item[:part] %></h2>
    <h6 id="post-date"><%= get_pretty_date(item) %></h6>
    <div class="tag-list">
      <%= tags_for(@item, base_url: '/blog/tags/', separator: ", ") %>
    </div>
    <!-- Other posts in the same series -->
    <% if @item[:part] != nil %>
      <div id="post-other-parts" class="mt3">
        <span class="i">See all parts of this series:</span>
        <% sorted_articles.reverse.each do |otherpost| %>
          <% if otherpost[:title] == @item[:title] %>
            <%= link_to_unless_current "#{otherpost[:part]}", otherpost.path %>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <!-- Content -->
    <%= yield %>
  </div>
<% end %>


<!-- Render maths in comments -->
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.1/dist/contrib/auto-render.min.js" integrity="sha384-+XBljXPPiv+OzfbB3cVmLHf4hdUFHlWNZN5spNQ7rmHTXpd7WvJum6fIACpNNfIR" crossorigin="anonymous"></script>
<script type="text/javascript">
  $(window).bind("load", function() {
    renderMathInElement(document.getElementById('commento'), {
          delimiters: [
              {left: '$$', right: '$$', display: true},
              {left: '$', right: '$', display: false},
              {left: '\\(', right: '\\)', display: false},
              {left: '\\[', right: '\\]', display: true}
          ],
          throwOnError : false,
          fleqn : true
        });
  });
</script>


<!-- Display settings (dark mode, font, etc) -->

<script type="text/javascript">
  const body = document.getElementsByTagName('body')[0];
  const content = document.getElementById('post-content');

  function lightStyle() {
    body.style.background = '#f0f8ff';
    body.style.color = 'black';
    document.getElementById('post-nav').style.background = '#eee'
    var links = document.getElementsByTagName('a');
    for (var i = 0; i < links.length; i++) {
      links[i].style.color = '#2a7ae2';
    }
  }
  function darkStyle() {
    body.style.background = '#333';
    body.style.color = '#eee';
    document.getElementById('post-nav').style.background = '#555'
    var links = document.getElementsByTagName('a');
    for (var i = 0; i < links.length; i++) {
      links[i].style.color = '#82b2ee';
    }
    var tables = document.getElementsByTagName('table');
    for (var i = 0; i < tables.length; i++) {
      tables[i].style.color = 'black';
    }
  }
</script>