<% render '/**/Default.*' do %>
  <div id="post-menu" class="w-80-ns w-100 mb4 pa2 center bg-light-gray">
    <ul id="colour-select" class="fl-ns">
      <li class="di">
        <button type="button" onclick="lightStyle()">
          Light
        </button>
      </li>
      <li class="di">
        <button type="button" onclick="darkStyle()">
          Dark
        </button>
      </li>
    </ul>
    <a href="/blog/#<%= generate_post_link_id(@item) %>" class="fr-ns f5">&larr; Return to all posts</a>
  </div>
  <div id="post-content" class="w-80-ns ph3-ns w-100 center">
    <h1 id="post-title" class="small-caps tc mb2 mt0"><%= @item[:title] %></h1>
    <h2 id="post-part" class="tc mb2 mt0"><%= @item[:part] %></h2>
    <h6 id="post-date" class="f5 courier silver normal mv0 tc"><%= get_pretty_date(item) %></h6>
    <div class="tag-list pv2 tc">
      <%= tags_for(@item, base_url: '/blog/tags/', separator: ", ") %>
    </div>
    <% if @item[:part] != nil %>
      <div id="post-other-parts" class="mt4">
        <span class="i">See all parts of this series:</span>
        <% sorted_articles.reverse.each do |otherpost| %>
          <% if otherpost[:title] == @item[:title] %>
            <%= link_to_unless_current "#{otherpost[:part]}", otherpost.path, :class => 'i mh1' %>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <%= yield %>

  </div>
<% end %>

<script type="text/javascript">
function lightStyle() {
  var body = document.getElementsByTagName('body')[0];
  body.style.background = 'white';
  body.style.color = 'black';
  document.getElementById('post-menu').style.background = '#eee'
  var links = document.getElementsByTagName('a');
  for (var i = 0; i < links.length; i++) {
    links[i].style.color = '#2a7ae2';
  }
}
function darkStyle() {
  var body = document.getElementsByTagName('body')[0];
  body.style.background = '#333';
  body.style.color = '#eee';
  document.getElementById('post-menu').style.background = '#555'
  var links = document.getElementsByTagName('a');
  for (var i = 0; i < links.length; i++) {
    links[i].style.color = '#82b2ee';
  }
  var tables = document.getElementsByTagName('table');
  for (var i = 0; i < tables.length; i++) {
    tables[i].style.color = 'black';
  }
}
</script>